
html{
    background-color: burlywood;
    background-image: url(/img/burger.jpg);
    background-size: 90px;
    background-repeat: repeat-x;
}


.menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-style: oblique;
    color: maroon;
    background-color:yellowgreen;
  
    margin-top: 105px;
    width: 200px;
}
.focim{
    text-align: center;
    color: rgb(122, 255, 144);
    font-size: 55px;
    padding: 30px;
    border: palegreen ;
    
}
ol{
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 25px;
color: blue;
}
.alcim
{
    color: crimson;
    font-size: 45px;
}
ul{
    font-size: 25px;
    color: darkblue;
}
a{
    color: rgb(243, 28, 28);
    font-size: 25px;
}
.dekor
{
height: 300px;
position: relative;

}